.cardbox {
  margin: 50px;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  border: 1px solid lightgrey;
  width: 300px;
  height: 400px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  padding: 2px 16px;
  border-radius: 20px;
  &:hover {
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  }
}
.card-image {
  width: 90%;
}
.card-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-between;
  text-align: center;
}
