$color_1: white;
$background_color_1: #222;
$background_color_2: #333;
$btn_border: 10px;

nav {
	ul {
		list-style-type: none;
		margin: 0;
		text-align: center;
		background-color: $background_color_1;
		display: flex;
	  flex-flow: row wrap;
    align-content: flex-start;
    justify-content: center;
    align-items: center;
	}
	li {
		float: top;
		margin: 25px;
		a {
			display: inline;
			color: $color_1;
			margin: 10px;
			padding: 20px;
			text-decoration: none;
			text-align: center;
			align-content: center;
			transition: all .4s ease-in-out;
			&:hover {
				background-color: $background_color_2;
				border-radius: $btn_border;
				transition: all .3s ease-in-out;
        animation-delay: .2s;
			}
		}
	}
}
button {
	background-color: $background_color_2;
	text-align: center;
	text-decoration: none;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: $color_1;
	margin: 5px;
	border-radius: $btn_border;
	transition: .3s;
	padding: 10px;
	&:hover {
		padding: 13px;
	}
}
.wrapper {
	ul {
		li {
			a {
				display: inline;
				color: $color_1;
				text-decoration: none;
				font-size: calc(5px + 2vmin);
				transition: all .3s ease-in-out;
				text-align: center;
				align-content: center;
			}
		}
	}
}
.wrapper-home {
	ul {
		li {
			display: inline;
		}
	}
}
input {
	&:hover {
		padding: 13px;
	}
	&:focus {
		padding: 13px;
	}
}
